<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Movie API!</title>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <!-- Favicon from: https://pixabay.com/vectors/clapperboard-black-cut-director-29986/-->
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
     <div id = "invisibleReviewsForm"></div>
<body>
  <nav>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navLink"><a href = "/profile">Profile</a></div>
    <div class ="navLink"><a href="/adder-signedIn">Back to Main</a></div>
  </nav>
<section id = "addReview">
  </section>
    <section id = "search-reviews">
  </section>
  <section id = "review-section">
  </section>
  <script src="/assets/reviewBundle.js"></script>
</body>
</html>
